:root {
--accent-color:#188ce8;
--primary-font-family: 'Roboto' sans-serif;
--secondary-font-family:'Raleway' sans-serif;
--primary-text-color-theme-dakr:#212121 ;
--primary-text-color-theme-light:#757575; ;
--secondary-text-color-theme-whaite:#FFFFFF ;
--secondary-text-color-theme-light:#2196F3 ;
}
/* ======ШАПКА ПОЧАТОК======== */
.logo{
    font-family: var(--secondary-font-family);
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1,19;
   letter-spacing: 0.03em;
   color: #2196F3;
}
.nav-list-link{
    font-family: var(--primary-font-family);
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.42;
   letter-spacing: 0.02em;
   color: #212121;

}
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--accent-color);
}
.contacts-phone-mail {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color: #212121;
}
.contacts-phone-mail:hover,
.contacts-phone-mail:focus {
    color: var(--accent-color);
}    
/* ======початок помпонентів======== */
/* ======кінець помпонентів======== */

/* ======ШАПКА КІНЕЦЬ======== */
/* ======Банер і кнопка хедер======== */
.main-title{
    font-family: var(--primary-font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}
.modal-btn {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
/* ======Банер і кнопка хедер кінець======== */
.logo-accent{
    color: black;
}

.list {
    list-style: none ;
}

.link {
    text-decoration: none;
}







.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)  }